* {
  margin: 0;
  padding: 0;
}

body {
  background: #0D0D0D;
  color: #FFFFFF;
  text-align: center;
}


.container {
  background: #1C1C1C;
  padding: 30px;
  border-radius: 12px;
  width: 70%;
  margin: 40px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

button {
  background: #F2C94C;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 10px;
}

button:hover {
  background: #FFD700;
  transform: scale(1.05);
}

h1 {
  font-size: 32px;
  letter-spacing: 2px;
}

.titulo-bat {
  text-align: center;
}

.titulo-logo{
  width: 120px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
}

img {
  width: 700px;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

p {
  color: #BDBDBF;
  line-height: 1.6;
}

nav {
  margin: 20px 0;
}

h2 {
  margin-top: 25px;
}